@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 210 40% 20%;

    --card: 0 0% 100%;
    --card-foreground: 210 40% 20%;

    --popover: 0 0% 100%;
    --popover-foreground: 210 40% 20%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 210 40% 20%;

    --radius: 0.5rem;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
  }

  .dark {
    --background: 210 40% 20%;
    --foreground: 0 0% 98%;

    --card: 210 40% 20%;
    --card-foreground: 0 0% 98%;

    --popover: 210 40% 20%;
    --popover-foreground: 0 0% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-muted text-foreground font-sans;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  main {
    flex-grow: 1;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    color: #2d3748;
  }
}
